*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    color: blue;
}

.header{
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 50px;
    /* color: blue; */
}

.but button{
    padding-left: 30px;
    margin-top: 10px;
    width: 20%;
}







#image {
    height:  200px;
    width: 200px ;
    background-color: aqua;
    object-fit: contain;
}
